.main {
  height: 1000px;
  width: 100%;
  overflow: hidden;

  & .body {
    display: flex;
    flex-direction: row;

    & .grid {
      width: 50%;
      margin: 2px;

      & .top {
        height: 55px;
        color: #ffffff;
        font-size: 30px;
        display: flex;
        flex-direction: column;
      }
      & .tr {
        color: #ffffff;
      }

      & .td {
        color: #ffffff;
      }
    }
  }
}
